
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>Welcome Message</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="/login">login</a></h3>
    <h3><a href="/candidate">Candidates</a></h3>
  </div>
</div>